<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dalangapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DalangApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".content.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".content.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".content.StoriesActivity"
            android:exported="false" />
        <activity
            android:name=".content.LearnWayangActivity"
            android:exported="false" />
        <activity
            android:name=".content.MoreKnowledgeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".wayangcamera.WayangCameraActivity"
            android:exported="false" />
        <activity
            android:name=".wayangcamera.WayangClassificationActivity"
            android:exported="false" />
        <activity
            android:name=".wayangcamera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".content.StudioMuseumActivity"
            android:exported="false" />
        <activity
            android:name=".content.DalangBioActivity"
            android:exported="false" />
        <activity
            android:name=".loginregis.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".content.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".content.detail.WayangDetailActivity"
            android:exported="false" />
        <activity
            android:name=".content.WayangGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".loginregis.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.dalangapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>